/* -------------------------------------------------------------------------- */
/*                                Dependencies                                */
/* -------------------------------------------------------------------------- */
// Packages
import React, { useState } from 'react';
// UI Components 

// UI lib components (antD)

// Custom Hooks & Utils

// Redux Funcs

// Style (not required) use Boostrap

/* -------------------------------------------------------------------------- */
/*                            {{componentType}} Component                      */
/* -------------------------------------------------------------------------- */

const {{pascalCase name}} = () => {
  /* ---------------------------------- Hooks --------------------------------- */
  const [counter, setCounter] = useState(1);

  /* -------------------------------- Callbacks ------------------------------- */
  const handleChange = (e) => {
    e.preventDefault();
    // Do something...
  };

  const incrementCounter = () => {
    setCounter((count) => count + 1);
  };

  /* --------------------------------- Rendering ------------------------------ */
  return (
    <div>
      <h1>{{pascalCase name}}</h1>
      <p>Counter: {counter}</p>
      <button onClick={incrementCounter}>Increment</button>
    </div>
  );
};

export default {{pascalCase name}};
