/* -------------------------------------------------------------------------- */
/*                                dependencies                                */
/* -------------------------------------------------------------------------- */
// packages
 import react,{useState} from 'React';
// Local UI components 

// lib UI components 

// utils & hooks 

// Redux methods

// Gql Queries & mutations 

// style no-required 

/* -------------------------------------------------------------------------- */
/*                              {{componentType}}                             */
/* -------------------------------------------------------------------------- */


const {{pasacalCase name}}=()=> { 
 /* **************************** Variables&Consts **************************** */
 const foo = 1;
 /* ********************************** Hooks ********************************* */
 // useState
const [counter,setCounter] = useState(1)
/* ***************************** events-callback **************************** */
const handleChange =(e)=> {
 e.preventDefault
 // some logic ... 
}
const Increament =()=> { 
setCounter(count=>count+1)
}
/* ******************************** Rendering ******************************* */
 return (
  <div>
  <h1>{name}</h1>
 </div>);
}

export default {{pascalCase}};